body {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* Shared style */
.container {
  max-width: 1444px;
  margin: 0 auto;
}
section {
  padding: 60px 0;
}
.display-flex {
  display: flex;
  align-items: center;
}
.text-gray {
  color: #424242;
}
.text-light-gray {
  color: #727272;
}
/* Nav Style css */
.navbar {
  justify-content: space-between;
  padding: 32px;
}
.nav-hero {
  background: rgba(255, 144, 14, 0.1);
}
.nav-item {
  list-style: none;
  margin-left: 32px;
}
.nav-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

.brand {
  font-family: "Work Sans";
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
}

/* Banner section css */
.banner {
  padding: 3rem 0px;
}
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-description {
  color: #727272;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 12px 0;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 16px 24px;
  margin: 16px 0;
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}
.banner-image {
  width: 100%;
}

/* Teams section css */
.teams {
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.our-features {
  width: 29.25rem;
  padding: 0 4rem;
}
.feature-title {
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}
.quick {
  color: #727272;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
}
.feature {
  color: #ff900e;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}
.feature-description {
  padding: 2.5rem 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #727272;
}

/* Responsive design in mobile */
@media (max-width: 768px) {
  /* nav style  */
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .nav-links {
    margin-top: 24px;
  }

  /* banner style */
  .banner,
  .teams {
    padding: 2rem;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-description {
    font-size: 14px;
  }
  .banner-image {
  }
  /* Team section responsive */
  .teams {
    flex-wrap: wrap;
  }
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
  .our-features {
    text-align: center;
    padding: 0rem;
  }
}
